@model SlideItem
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-6">
    <h1>Delete</h1>
<h2>@Model.Title</h2>
<h2>@Model.Subtitle</h2>

<img src="~/assets/img/slider/@Model.Image" height="50px" />


</div>
<div class="col-12 mt-3">
    <form method="post" >
        <button type="submit" class="btn btn-danger" >Delete</button>
    </form>

    <a class="btn btn-info" asp-action="Index">Go Back!</a>
</div>
