@model SlideItem
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-6">
    <h1>Detail</h1>
<h2>@Model.Title</h2>
<p>@Model.Subtitle</p>

<img src="~/assets/images/website-images/@Model.Image" height="50px" />


</div>
<div class="col-12 mt-3"><a class="btn btn-info" asp-action="Index">Go Back!</a></div>