@using WebUI.Areas.Admin.ViewModels.Members;
@model IEnumerable<MembersVM>
@{
    ViewData["Title"] = "Index";
}

  <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Member Control</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                           User
                          </th>
                          <th>
                            Role
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var slide in Model)
                        {
                                    <tr>
                                 
                                  <td>
                                    @slide.UserName
                                  </td>
                                       <td>
                                    @slide.Position
                                      </td>
                                  <td>
                                    <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td>
                                            
                                                    <a asp-action="RaiseAdmin" asp-route-username="@slide.UserName" class="btn btn-warning"><i class="mdi mdi-grease-pencil" style="color:white"></i></a>

                                                <a asp-action="LowerToMember" asp-route-username="@slide.UserName" class="btn btn-danger"><i class="mdi mdi-delete" style="color:white"></i></a>
                                  </td>
                                </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>